Python Data Structures Assignment

Section 1: Lists
1.	Create a List:
Create a list containing the numbers 1 through 15. Print the list.

In [5]:
l = list(range(1,16))
print("List of number from 1 to 15 :",l)

List of number from 1 to 15 : [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

2.	List of Strings:

Create a list of your five favorite fruits. Print the list.

In [6]:
fruits = ["Mango", "Banana", "Apple", "Orange", "Peach"]
print("list of favorite frutis :",fruits)

list of favorite frutis : ['Mango', 'Banana', 'Apple', 'Orange', 'Peach']

3.	Accessing Elements:

Given the list [10, 20, 30, 40, 50], print the first and last element using positive and negative indexing.

In [7]:
numbers =  [10, 20, 30, 40, 50]
print("First element using positive indexing :",numbers[0])
print("Last element using positive indexing :",numbers[4])
print("First element using negative indexing :",numbers[-5])
print("Last element using negative indexing :",numbers[-1])

First element using positive indexing : 10
Last element using positive indexing : 50
First element using negative indexing : 10
Last element using negative indexing : 50

4.	List Length:

Create a list of any 5 items and print its length using the len() function.

In [8]:
fruits = ["Mango", "Banana", "Apple", "Orange", "Peach"]
print(f"length of list : {fruits}")

length of list : ['Mango', 'Banana', 'Apple', 'Orange', 'Peach']

5.	Appending Elements:

Start with an empty list and append the numbers 1, 2, and 3. Print the list.

In [3]:
numbers = []
numbers.append(1)
numbers.append(2)
numbers.append(3)

print("List of numbers :",numbers)

List of numbers : [1, 2, 3]

6.	Inserting an Element:

Given a list [1, 3, 4], insert the number 2 at the correct position so that the list becomes [1, 2, 3, 4].

In [4]:
num = [1,3,4]
print("Old list :",num)
num.insert(1,2) # here in insert funtion first element is index and sesond one is value=> insert(index, value)
print("New list after adding in the index 1 :",num)

Old list : [1, 3, 4]
New list after adding in the index 1 : [1, 2, 3, 4]

7.	Removing an Element:

Remove the number 3 from the list [1, 2, 3, 4, 5] using a list method and print the new list.

In [5]:
num = [1,2,3,4,5]
print("Original list :", num)
num.remove(3)
print("New list after removing 3 from the list :",num)

Original list : [1, 2, 3, 4, 5]
New list after removing 3 from the list : [1, 2, 4, 5]

8.	Popping an Element:

Given the list [10, 20, 30, 40], pop the last element and print the element and the updated list.

In [6]:
numbers = [10, 20, 30, 40]
print("Original list :", numbers)
numbers.pop(-1)
print("New list after popping last element :", numbers)

Original list : [10, 20, 30, 40]
New list after popping last element : [10, 20, 30]

9.	Slicing a List:

Given the list [0, 1, 2, 3, 4, 5], print a slice that contains the elements from index 2 to 4.

In [11]:
numbers = [0, 1, 2, 3, 4, 5]
print("Original list :", numbers)
numbers = numbers[2:5]
print("Updated list from index 2 to 4 :", numbers)

Original list : [0, 1, 2, 3, 4, 5]
Updated list from index 2 to 4 : [2, 3, 4]

10.	List Concatenation:

Concatenate two lists, e.g., [1, 2, 3] and [4, 5, 6], and print the resulting list.

In [13]:
num1 = [1,2,3]
num2 = [4,5,6]
concatenated_list = num1 + num2
print(f"Original list : {num1} and {num2} \nConcatenated list :{concatenated_list}")

Original list : [1, 2, 3] and [4, 5, 6]
Concatenated list :[1, 2, 3, 4, 5, 6]

11.	Repeating a List:

Create a list [1, 2] and print the list repeated three times.

In [17]:
num = [1,2]
repeated_num = num * 3
print("Original list :",num)
print("Repeated list :",repeated_num)

Original list : [1, 2]
Repeated list : [1, 2, 1, 2, 1, 2]

In [18]:
original_list = [1,2,3,4,5]
copy_list = original_list.copy()
print(f"Original list :{original_list} \nCopied list : {copy_list}")

Original list :[1, 2, 3, 4, 5]
Copied list : [1, 2, 3, 4, 5]

13.	Clearing a List:

Given any list, use a method to clear all its elements and then print the empty list.

In [19]:
original_list = [1,2,3,4,5]
print("Orignal list :",original_list)
original_list.clear()
print("Original list after clearing :",original_list)

Orignal list : [1, 2, 3, 4, 5]
Original list after clearing : []

Section 2: Tuples
1.	Create a Tuple:
Create a tuple containing the numbers 1, 2, and 3. Print the tuple.

In [20]:
my_tuple = (1,2,4)
print(my_tuple)

(1, 2, 4)

2.	Tuple of Strings:

Create a tuple of three different color names and print it.

In [21]:
colors = ("blue", "white", "black")
print("Colors :", colors)

Colors : ('blue', 'white', 'black')

3.	Accessing Tuple Elements:

Given the tuple (10, 20, 30, 40), print the second element.

In [22]:
my_tuple = (10, 20, 30, 40)
print("Second element :",my_tuple[1])

Second element : 20

4.	Tuple Slicing:

Using the tuple (0, 1, 2, 3, 4), print a slice that contains elements from index 1 to 3.

In [23]:
my_tuple = (0, 1, 2, 3, 4)
print("Element from index 1 to 3 :", my_tuple[1:4])

Element from index 1 to 3 : (1, 2, 3)

5.	Concatenating Tuples:

Concatenate two tuples, e.g., (1, 2) and (3, 4), and print the result.

In [24]:
tuple_1 = (1,2)
tuple_2 = (3,4)
concatenated_tuple = tuple_1 + tuple_2
print("Concatenated tuple :",concatenated_tuple)

Concatenated tuple : (1, 2, 3, 4)

6.	Tuple Unpacking:

Store the tuple ("Alice", 25, "New York") into three variables and print them.

In [28]:
mixed_tuple = ("Alice", 25, "New York")
tuple_1,tuple_2, tuple_3 = mixed_tuple
print(tuple_1)
print(tuple_2)
print(tuple_3)

Alice
25
New York

7.	Convert List to Tuple:

Convert the list [1, 2, 3, 4] into a tuple and print the tuple.

In [29]:
my_list = [1,2,3,4]
print("List :",my_list)
my_tuple = tuple(my_list) #convert list to tuple
print("Tuple :",my_tuple)

List : [1, 2, 3, 4]
Tuple : (1, 2, 3, 4)

8.	Counting Occurrences:

Given the tuple (1, 2, 2, 3, 2), count how many times the number 2 appears.

In [31]:
my_tuple = (1, 2, 2, 3, 2)
count = my_tuple.count(2)
print(f"Number is appeared {count} times in the tuple")

Number is appeared 3 times in the tuple

1.	Finding an Index:

In the tuple (10, 20, 30, 40), find the index of the element 30 and print it.

In [33]:
my_tuple = (10, 20, 30, 40)
print("The index of the element 30 is",my_tuple.index(30))

The index of the element 30 is 2