Integer & Float Mix

•	Create an integer a and a float b.

•	Perform addition, subtraction, multiplication, and division on them.

•	Print the results and observe the type of each result with type().

In [ ]:
a = 2
b = 3.5

#Arithmetic operation
addition = a + b
subtraction = a - b
multiplicaton = a * b
division = a / b

#Print result
print("Addition :", addition, "and data type :", type(addition))
print("Subtraction :", addition, "and data type :", type(subtraction))
print("Multiplication :", addition, "and data type :", type(multiplicaton))
print(f"Division : {division:.2f} and data type : {type(division)}")

Addition : 5.5 and data type : <class 'float'>
Subtraction : 5.5 and data type : <class 'float'>
Multiplication : 5.5 and data type : <class 'float'>
Division : 0.57 and data type : <class 'float'>

Large Integers & Type

•	Assign a very large integer to a variable (e.g., in the billions).

•	Print it and confirm its type is still int in Python or not.

In [ ]:
num =67654356455
print("Data type of",num, ":",type(num))

Data type of 67654356455 : <class 'int'>

Complex Number Basics  

•	Create a complex number z = 3 + 4j.

•	Print its real part, imaginary part, and confirm its type is complex.

•	Perform a basic arithmetic operation with another complex number (e.g., (3 + 4j) + (1 + 2j)).

In [ ]:
z = 3 + 4j
y = 2 -3j
print("Real part :",z.real,"\nComplex part: ",z.imag,"\nData type of",z,"is", type(z))
print(f"Addition between two complex {z} and {y} : {(z+y)}")

Real part : 3.0
Complex part:  4.0
Data type of (3+4j) is <class 'complex'>
Addition between two complex (3+4j) and (2-3j) : (5+1j)

Boolean from Comparisons

•	Create two variables, m = 10 and n = 15.

•	Define status = (m > n) and print status.

•	Confirm type(status) is bool.

•	Assign status = (m != n) and print again.

In [ ]:
m = 10
n = 15
status = (m > n)
print("Status of m > n :",status, "and data type ", type(status))
status = (m != n)
print("Status of m != n :",status, "and data type ", type(status))

Status of m > n : False and data type  <class 'bool'>
Status of m != n : True and data type  <class 'bool'>

String Creation & Indexing

•	Create a string text = "HelloWorld".

•	Print the first and last characters using positive and negative indexing.

•	Comment on the total length of the string.

In [ ]:
text = "HelloWorld"
print("First character using positive indexing :",text[0])
print("Last character using negative  indexing :",text[-1])
print("Total length of the string :",len(text))

First character using positive indexing : H
Last character using negative  indexing : d
Total length of the string : 10

String Slicing

•	With lang = "PythonProgramming", print the substring from index 2 to 8.

•	Print the substring from the start up to index 5.

•	Print the entire string in reverse using slicing.

In [ ]:
lang = "PythonProgramming"
print("Susbstring from index 2 to 8 :",lang[2:9])
print("Substring from start to index 5 :",lang[:6])
print("Reverse string using slicing :",lang[::-1])

Susbstring from index 2 to 8 : thonPro
Substring from start to index 5 : Python
Reverse string using slicing : gnimmargorPnohtyP

String Methods

•	Let phrase = " Hello, Python World! ".

•	Demonstrate strip(), upper(), and replace() on this string.

•	Print the results and comment on immutability of strings in Python.

In [ ]:
phrase = " Hello, Python World! "
print("Original phrase :",phrase)
print("After strip :",phrase.strip())
print("After upper case :",phrase.upper)
print("After replacing :",phrase.replace("Hello","Hi"))
print("Original phrase :",phrase) #strings are immutable and all the string methods returns new strings and the original phrase remains unchanged

Original phrase :  Hello, Python World!
After strip : Hello, Python World!
After upper case : <built-in method upper of str object at 0x7a599eb83d20>
After replacing :  Hi, Python World!
Original phrase :  Hello, Python World!

String Formatting

•	Create two variables: name = "Rajesh" and score = 95.

•	Print: "Alice scored 95 points." using two methods (concatenation and an f-string or str.format()).

In [ ]:
name, score = "Rajesh", 95
print(name + " scored " + str(score) + " points ") #score is converted in the string to do concantenation. Concateination is done only in strings
print(f"{name} scored {score} points")

Rajesh scored 95 points
Rajesh scored 95 points

Boolean Operations in Expressions

•	Write a small expression using and, or, and not with boolean values.

•	Example: result = not(True and False) or (5 > 3).

•	Print result and explain how Python evaluated the expression.

In [ ]:
result = not(True and False) or (5 > 3)
print("Result :",result) #python uses logical operator precedence where not evaluated at first

Result : True

List Creation & Access

•	Create a list of 5 different integers.

•	Print the first item, middle item, and last item using indexing.

In [ ]:
num = [1,2,3,4,5]
print(f"First item : {num[0]} \nSecond item : {num[2]} \nLast item : {num[-1]}")

First item : 1
Second item : 3
Last item : 5

List Insertion & Deletion

•	Start with a list nums = [10, 20, 30, 40].

•	Insert 25 at index 2.

•	Remove the last element.

•	Print the updated list.

In [ ]:
nums = [10, 20, 30, 40]
print(f"Original list : {nums}")
nums.insert(2,25) #insert 25 at the index 2
nums.remove(40)
print(f"Updated list : {nums}")

Original list : [10, 20, 30, 40]
Updated list : [10, 20, 25, 30]

List Slicing

•	Given letters = ["a", "b", "c", "d", "e"], print the slice that contains only ["b", "c", "d"].

•	Print the slice that omits the first and the last element.

In [ ]:
letters = ["a", "b", "c", "d", "e"]
print(f"Sliced letters : {letters[1:4]}")
print(f"List that omits first and last element : {letters[1:-1]}")

Sliced letters : ['b', 'c', 'd']
List that omits first and last element : ['b', 'c', 'd']

Sorting & Reversing

•	Create a list of random integers.

•	Sort the list in ascending order and print it.

•	Reverse the sorted list and print again.

In [ ]:
num = [4,3,7,5,23,45,2]
num.sort()
print(f"List in ascending order : {num}")
print(f"Reversed list : {num[::-1]}") #we can also reverse using .reverse()

List in ascending order : [2, 3, 4, 5, 7, 23, 45]
Reversed list : [45, 23, 7, 5, 4, 3, 2]

Combining Lists

•	Let list1 = [1, 2, 3] and list2 = [4, 5, 6].

•	Combine them into a single list and print.

•	Demonstrate two ways: using + and using .extend().

In [ ]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]
print(f"Combined list : {list1 + list2}")
list1.extend(list2)
print(f"Combined list using extend() : {list1}")

Combined list : [1, 2, 3, 4, 5, 6]
Combined list using extend() : [1, 2, 3, 4, 5, 6]

Aggregating List Values

•	Create a list of floats, e.g., [2.5, 3.6, 1.2, 5.0].

•	Print the sum, minimum, and maximum of that list using built-in functions.

In [ ]:
nums = [2.5, 3.6, 1.2, 5.0]
summed_nums = sum(nums)
minimum_nums = min(nums)
maximum_nums = max(nums)
print(f"Sum : {summed_nums} \nMinimum number : {minimum_nums} \nMaximum number : {maximum_nums}")

Sum : 12.3
Minimum number : 1.2
Maximum number : 5.0

Tuple Creation

•	Create a tuple t = (10, 20, "Hello", True).

•	Print the tuple and confirm its type with type(t).

In [ ]:
t = (10, 20, "Hello", True)
print(f"Tuple : {t} and type : {type(t)}")

Tuple : (10, 20, 'Hello', True) and type : <class 'tuple'>

Tuple Indexing & Slicing

•	Print the first two elements of t using slicing.

•	Print the last element of t using negative indexing.

In [ ]:
t = (10, 20, "Hello", True)
print(f"Two element of t using slicing : {t[:2]}")
print(f"Last element of t using negative indexing : {t[-1]}")

Two element of t using slicing (10, 20)
Last element of t using negative indexing True

Tuple Unpacking

•	Suppose t2 = ("Tom", 25, "Engineer").

•	Unpack it into three separate variables: name, age, profession.

•	Print these variables individually.

In [ ]:
t2 = ("Tom", 25, "Engineer")
ta, tb, tc = t2
print(ta)
print(tb)
print(tc)

Tom
25
Engineer

Attempt Tuple Mutation

•	Try to change an element of t (t[0] = 999) and observe the error.

•	In comments, explain why the error occurs.

In [ ]:
 t[0] = 999 #tuple is immutable that is way we cannot assign the value

TypeError: 'tuple' object does not support item assignment

Set Creation & Membership

•	Create a set my_set = {1, 3, 5, 7}.

•	Check if 5 is in my_set.

•	Check if 2 is not in my_set.

In [ ]:
my_set = {1, 3, 5, 7}
print(f"Is 5 in my_set : {5 in my_set}")
print(f"Is 2 not in my_set : {2 not in my_set}")

Is 5 in my_set : True
Is 2 not in my_set : True

Add & Remove Elements

•	Add 9 to my_set.

•	Remove 3 from my_set.

•	Print the updated set.

In [ ]:
my_set = {1, 3, 5, 7}
my_set.add(9)
my_set.remove(3)
print(f"Updated set : {my_set}")

Updated set : {1, 5, 7, 9}

Set Operations

•	Create two sets: setA = {1, 2, 3} and setB = {3, 4, 5}.

•	Print the union, intersection, and difference (setA - setB).

In [ ]:
setA = {1, 2, 3}
setB = {3, 4, 5}
union_set = setA.union(setB)
intersection_set = setA.intersection(setB)
difference_set = setA.difference(setB)
print(f"Union set : {union_set}")
print(f"Intersection set : {intersection_set}")
print(f"Difference set : {difference_set}")

Union set : {1, 2, 3, 4, 5}
Intersection set : {3}
Difference set : {1, 2}

Check Unique Values

•	Define a list vals = [1, 2, 2, 3, 3, 3, 4].

•	Convert it to a set.

•	Print both the list and the set to show how duplicates are removed.

In [ ]:
vals = [1, 2, 2, 3, 3, 3, 4]
converted_list = set(vals)
print(f"List : {vals}")
print(f"set : {converted_list}") # set automatically removes the duplicate value and stores only unique number

List : [1, 2, 2, 3, 3, 3, 4]
set : {1, 2, 3, 4}

Frozenset Creation

•	Create a frozenset from a list [2, 4, 4, 6].

•	Print it and observe whether duplicates are preserved.

In [ ]:
li = [2,4,4,6]
forzen_set = frozenset(li)
print("Frozen set :", forzen_set) # like set, forzen set does not allow duplicate elements and frozen set is immutable version of set

Frozen set : frozenset({2, 4, 6})

Immutability Demonstration

•	Attempt to add an element to your frozenset.

•	Observe and explain the error in comments.

In [ ]:
frozenset.add(9) #once frozen set is created it becomes immutable as we cannot change its element whether we remove or add the element

AttributeError: type object 'frozenset' has no attribute 'add'

Frozenset Use as a Dictionary Key

•	Create a dictionary where the key is your frozenset, e.g., my_dict = {frozenset([1,2,3]): "value"}.

•	Print my_dict and explain why a normal set cannot be used as a key.

In [ ]:
my_dict = {frozenset([1,2,3]): "value"}
print(my_dict) #normal set cannot be used as a key because it is mutable and hashable

{frozenset({1, 2, 3}): 'value'}

Dictionary Creation & Access

•	Create a dictionary student = {"name": "Ramesh", "age": 20, "grade": "A"}.

•	Print the value of "name" and "age" individually.

In [ ]:
student = {"name": "Ramesh", "age": 20, "grade": "A"}
print(f"Name of the student : {student['name']}")
print("Age of the student :",student['age'])

Name of the student : Ramesh
Age of the student : 20

Adding & Updating Keys

•	Add a new key-value pair: "city": "Kathmandu" to student.

•	Update "age" to 21.

•	Print the dictionary.

In [ ]:
student = {"name": "Ramesh", "age": 20, "grade": "A"}
student['city'] = "kathmandu"
student['age'] = 21
print(f"Updated student : {student}")

Updated student : {'name': 'Ramesh', 'age': 21, 'grade': 'A', 'city': 'kathmandu'}

Removing Keys

•	Remove the "grade" key from student.

•	Print the resulting dictionary.

In [ ]:

print("Student :",student)
del student["grade"] # we can also use pop() as student.pop['grade]
print(f"Final student : {student}")

Student : {'name': 'Ramesh', 'age': 21, 'grade': 'A', 'city': 'kathmandu'}
Final student : {'name': 'Ramesh', 'age': 21, 'city': 'kathmandu'}

Nested Dictionary Example

•	Create a dictionary record = {"id": 101, "info": {"name": "Bob", "dept": "IT"}}.

•	Print the department of Bob.

In [ ]:
record = {"id": 101, "info": {"name": "Bob", "dept": "IT"}}
print(f"Department of Bob : {record['info']['dept']}")

Department of Bob : IT

Operator Precedence

•	Define a = 4, b = 2, c = 5.

•	Print the result of a + b * c vs. (a + b) * c.

•	Explain in comments how the result differs.

In [ ]:
a,b,c = 4,2,5
print("a+b*c :",a+b*c)
print("(a+b)*c :",(a+b)*c) # operator precedence follow the BODMAS rule

a+b*c : 14
(a+b)*c : 30

Modulo & Floor Division

•	Let x = 17 and y = 4.

•	Print x % y and x // y.

•	Explain the difference between these two operators in comments.

In [ ]:
x, y = 17, 4
print("x % y :",x % y) # gives the remainder of the division
print("x / y :",x // y ) # gives the integer part of the division

x % y : 1
x / y : 4

Power Operator

•	Print the result of 2 ** 3.

•	Write a line to calculate 3 ** 4.

•	Print the addition of both.

In [ ]:
a = 2**3
b = 3**4
addition = a + b
print("Result of 2**3 :",a)
print("Result of addition :",addition)

Result of 2**3 : 8
Result of addition : 89

String Comparison

•	Compare "apple" and "banana" with <, >, and ==.

•	Print the results.

In [ ]:
print("apple" > "banana") #compares the string(each character) based on their unicode
print("apple" < "banana")
print("apple" == "banana")

False
True
False

Mixed Type Comparison

•	Compare 5 and 5.0 with ==.

•	Compare 5 and 5.0 with is.

•	Discuss the results in comment.

In [ ]:
print(5 == 5.0) # true because the value is same and checks only the value
print(5 is 5.0) # checks the memory location and they are different data types and are stored in different memory location which occurs false

True
False

<>:2: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:2: SyntaxWarning: "is" with a literal. Did you mean "=="?
/tmp/ipython-input-10-1908958441.py:2: SyntaxWarning: "is" with a literal. Did you mean "=="?
  print(5 is 5.0) # checks the memory location and they are different data types and are stored in different memory location which occurs false

Chain Comparisons

•	Evaluate the expression 2 < 3 < 5.

•	Print the result and explain how Python handles chained comparisons.

In [ ]:
print(2 < 3 < 5) #python checks the expression as (2 < 5) and (3 < 5) which leads to true

True

Logical and

•	Define p = True and q = False.

•	Print p and q.

•	Demonstrate a real-world example: (age > 18) and (has_ID == True).

In [ ]:
p = True
q = False
print(p and q)

age = 24
has_ID = True
print(age > 18 and has_ID == True)

False
True

Logical or

•	Using the same p and q, print p or q.

In [ ]:
print(p or q)

True

Logical not

•	Let r = (10 > 5).

•	Print r, then print not r.

In [ ]:
r = (10 > 5) # it gives true because 10 is greater than 5
print(r)

True

Using len()

•	Create a list with 7 elements.

•	Use len() to get the total count.

•	Print the result.

In [ ]:
my_list = [2,3,5,4,7,6,8]
list_len = len(my_list)
print(f"Length of list is {list_len}")

Length of list is 7

Using type()

•	For each of the following: 10, 10.5, "ten", True, 3+2j, print type(...).

•	Summarize in comments the data types you observed.

In [ ]:
print(type(10)) #int -integer number
print(type(10.5)) # float -floating point number
print(type("ten")) # str -string
print(type(True)) #bool -boolean
print(type(3+2j)) #compex -complex number

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>
<class 'complex'>

Using abs()

•	Print abs(10), abs(-10), and abs(-3.5).

•	Explain what abs() does in comments.

In [ ]:
print(abs(10)) #stays positive for the positive number
print(abs(-10)) # change the negative number to positive number
print(abs(-3.5))

10
10
3.5

Using round()

•	Demonstrate round(3.14159, 2).

•	Show how round(2.5) behaves in Python.

In [ ]:
print(round(3.14159, 2)) # gives the number with two decimal
print(round(2.5)) # round to nearest even number also known as banker rounding or round half to even

3.14
2

Using sum(), max(), min()

•	Create a list of numeric values.

•	Print sum(), max(), and min() of that list.

In [ ]:

lst = [2,3,5,7,51]
sum_of_list = sum(lst)
max_num = max(lst)
min_num = min(lst)
print(f"Sum of list: {sum_of_list}")
print(f"Maximum number in the list : {max_num}")
print(f"Minimum number in the list : {min_num}")

Sum of list: 68
Maximum number in the list : 51
Minimum number in the list : 2

Using sorted()

•	Create a list or tuple vals = (3, 1, 4, 2).

•	Use sorted(vals) and print the result.

•	Show that vals itself is unchanged.

In [ ]:
vals = (3, 1, 4, 2)
print(f"Sorted tuple : {sorted(vals)}")
print(f"Original tuple : {vals}")

Sorted tuple : [1, 2, 3, 4]
Original tuple : (3, 1, 4, 2)

Using any() / all()

•	Create a list of booleans, for example [True, False, True].

•	Print any() on the list, then all() on the list.

•	Show the difference in how they evaluate.

In [ ]:
bool_list = [True, False, True]
print(f"any() : {any(bool_list)}") # returns true if any of the element is true
print(f"all() : {all(bool_list)}") # returns true only if all the elements are true

any() : True
all() : False

Storing Booleans from Comparisons

•	Compare two values in separate expressions, e.g., a = (10 > 3), b = (5 == 5).

•	Combine these booleans with and or or.

•	Print the final result.

In [ ]:
a = (10 > 3)
b = (5 == 5)
print("a :",a)
print("b :",b)
print("and operator :", a and b)
print("or operator : ", a or b)

a : True
b : True
and operator : True
or operator :  True

Multiline String & Counting

•	Create a multiline string describing your favorite hobby.

•	Use the string method .count(substring) to count how many times the letter "a" appears (case-insensitive).

•	Print the count and explain any steps taken to handle case sensitivity.

In [ ]:
hobby = """I love to play the guitar because it helps me relax and express my emotions through music.
Whether I’m strumming chords or learning new melodies, playing the guitar brings me joy and a sense of accomplishment.
It’s a hobby that keeps me creative and inspired every day."""
count_a = hobby.lower().count("a") # .lower() is used tio handle the case sensitive as it include both 'a' and 'A'
print("count of a :",count_a)

count of a : 16

Advanced String Slicing

•	Take the string "ABCDEFGHIJ" and slice every second character, resulting in "ACEGI".

•	Print the sliced string.

•	Also slice in reverse step.

In [ ]:
text = "ABCDEFGHIJ"
sliced_text = text[::2]
print("Sliced text :",sliced_text)
print("Reverse sliced text :", sliced_text[::-1])

Sliced text : ACEGI
Reverse sliced text : IGECA

Casefold vs. Lower

•	Create two strings, "Case" and "case".

•	Compare them with the regular == operator directly.

•	Compare them again after applying .casefold().

•	Print results and comment on how .casefold() differs from .lower() in edge cases.

In [ ]:
text1 = "Case"
text2 = "case"
print(f"Case == case : {text1 == text2}")
text1_folded = text1.casefold()
text2_folded = text2.casefold()
print(f"After applying lower() : {text1.lower() == text2.lower()}") #it changes to lower case but does not handle special cases
print(f"After applying casefold() : {text1_folded == text2_folded}") #it changes to lower case as well as handles the special cases (like German ß and ss)

Case == case : False
After applying lower() : True
After applying casefold() : True

Formatted Printing

•	Define name = "Ramesh", product = "Notebook", quantity = 2, and price = 12.50.

•	Use an f-string (or str.format()) to print:

"Ramesh purchased 2 Notebook for a total of $25.0."

In [ ]:
name = "Ramesh"
product = "Notebook"
quantity = 2
price = 12.50
print(f"{name} purchased {quantity} {product} for a total of {price}")

Ramesh purchased 2 Notebook for a total of 12.5

Type Conversion Chain

•	Ask a user for a string that represents a number, e.g., "0".

•	Convert it to a float, then to a bool, and print the intermediate and final results.

In [ ]:
user = input("Enter the number as string")
float_value = float(user)
bool_value = bool(float_value)
print(f"Float value : {float_value} \nBool value : {bool_value}")

Enter the number as string0
Float value : 0.0
Bool value : False

String List Sorting

•	Given fruits = ["apple", "banana", "cherry"], sort them in descending alphabetical order.

•	Print the sorted list, then use the .reverse() method to flip it. Compare the two results.

In [ ]:
fruits = ["apple", "banana", "cherry"]
fruits.sort(reverse = True)
print(f"Descending order : {fruits}")
fruits.reverse()
print(f"Sorted list : {fruits}" )

Descending order : ['cherry', 'banana', 'apple']
Sorted list : ['apple', 'banana', 'cherry']

Insert Using Slicing

•	Start with a list [2, 5, 7, 1, 9].

•	Insert the value 4 right after the 2 using slicing (not insert() or append()).

•	Print the modified list.

In [ ]:
lst = [2, 5, 7, 1, 9]
lst = lst[:1] + [4] + lst[1:]
print(f"Modified list : {lst}")

Modified list : [2, 4, 5, 7, 1, 9]

Indexing Within a Mixed List

•	Create a list info = ["John", 28, True, 4500.75].

•	Print only "John" and 4500.75 using their indices.

In [ ]:
info = ["John", 28, True, 4500.75]
print(info[0])
print(info[-1])

John
4500.75

Tuple Concatenation & Replication

•	Create two tuples (1, 2) and (3, 4).

•	Concatenate them into (1, 2, 3, 4).

•	Replicate (1, 2) 3 times to get (1, 2, 1, 2, 1, 2).

In [ ]:
t1 = (1, 2)
t2 = (3, 4)
concatenated_tuple = t1 + t2
replicated_tuple = t1 * 3
print(f"Concatenated tuple : {concatenated_tuple} \nReplicated tuple : {replicated_tuple}")

Concatenated tuple : (1, 2, 3, 4)
Replicated tuple : (1, 2, 1, 2, 1, 2)

Single-Element Tuple

•	Demonstrate that (42,) is a tuple whereas (42) is just an integer.

In [ ]:
single_element_tuple = (42,) #to make single element tuple we should give comma
single_integer = (42) # just a integer inside parenthesis
print(f"(42,) is type of {type(single_element_tuple)}")
print(f"(42) is type of {type(single_integer)}")

(42,) is type of <class 'tuple'>
(42) is type of <class 'int'>

Intersection & Union

•	Let setA = {1, 2, 3, 4} and setB = {1,2,3}.

•	Print their intersection using setA & setB.

•	Print their union using setA | setB.

In [ ]:
setA = {1, 2, 3, 4}
setB = {1,2,3}
intersection_set = setA.intersection(setB)
union_set = setA | setB
print(f"Intersection of set : {intersection_set}")
print(f"Union of set : {union_set}")

Intersection of set : {1, 2, 3}
Union of set : {1, 2, 3, 4}

Subset and Superset

•	Check if setB is a subset of setA using setB.issubset(setA).

•	Check if setA is a superset of setB using setA.issuperset(setB).

•	Print the results.

In [ ]:
setA = {1, 2, 3, 4}
setB = {1,2,3}
is_subsetA = setB.issubset(setA)
is_subsetB = setA.issubset(setB)
print(f"Is setB subset of setA : {is_subsetA}")
print(f"Is setA subset of setB : {is_subsetB}")

Is setB subset of setA : True
Is setA subset of setB : False

Countries and Capitals

•	Create a dictionary capitals = {"France": "Paris", "Germany": "Berlin", "Italy": "Rome"}.

•	Print just the keys, then just the values, then all key-value pairs.

In [ ]:
capitals = {"France": "Paris", "Germany": "Berlin", "Italy": "Rome"}
print(f"keys of capitals : {capitals.keys()}")
print(f"Values of capitals : {capitals.values()}")

keys of capitals : dict_keys(['France', 'Germany', 'Italy'])
Values of capitals : dict_values(['Paris', 'Berlin', 'Rome'])

Summing Dictionary Values

•	Create a dictionary numbers = {"x": 4, "y": 10, "z": 6}.

•	Use sum(numbers.values()) to sum all values.

•	Print the sum.

In [ ]:
numbers = {"x": 4, "y": 10, "z": 6}
print(f"Sum of values : {sum(numbers.values())}")

Sum of values : 20