Basic Arithmetic and Type Identification

•	Create three variables: one integer, one float, and one complex number.

•	Print each variable and use the type() function to confirm their data types.

In [9]:
a = 2
b = 3.2
c = 1 + 2j

print(a, "is of type " , type(a))
print(b, "is of type " , type(b))
print(c, "is of type " , type(c))

2 is of type  <class 'int'>
3.2 is of type  <class 'float'>
(1+2j) is of type  <class 'complex'>

Arithmetic with Mixed Types

•	Create one int variable (a) and one float variable (b).

•	Print the sum, difference, product, and quotient of a and b.

•	Print the type() of each result (notice how types may change).

In [13]:
a = 2
b = 3.2

#Arithmetic Operation
sum = a + b
difference = a - b
product = a * b
quotient = a / b

print ("Sum of ", a, "and", b, "is" , sum, "and type = ", type(sum))
print ("Difference of ", a, "and", b, "is" , difference, "and type = ", type(difference))
print ("Product of ", a, "and", b, "is" , product, "and type = ", type(product))
print ("Quotient of ", a, "and", b, "is" , quotient, "and type = ", type(quotient))

Sum of  2 and 3.2 is 5.2 and type =  <class 'float'>
Difference of  2 and 3.2 is -1.2000000000000002 and type =  <class 'float'>
Product of  2 and 3.2 is 6.4 and type =  <class 'float'>
Quotient of  2 and 3.2 is 0.625 and type =  <class 'float'>

Comparison Operators

•	Let x = 10 and y = 7.

•	Print the results of x > y, x < y, x == y, and x != y.

•	After observing the output, explain why each result is True or False in comments.

In [16]:
x = 10
y = 7

print("x > y " , "is", x > y, "because x is greater than y")
print("x < y " , "is", x < y, "because x is not greater than y")
print("x == y " , "is", x == y, "because x is not eqaul to y")
print("x != y " , "is", x != y, "because x is not eqaul to y")

x > y  is True because x is greater than y
x < y  is False because x is not greater than y
x == y  is False because x is not eqaul to y
x != y  is True because x is not eqaul to y

Boolean Variables

•	Define a variable status = True.

•	Print the value of status and confirm it is a boolean using type(status).

•	Reassign status to False and confirm its type again.

In [19]:
status = True
print("Value of status is ", status, "and data type is ", type(status) )
status = False
print("Value of status is ", status, "and data type is ", type(status) )

Value of status is  True and data type is  <class 'bool'>
Value of status is  False and data type is  <class 'bool'>

String Creation and Length

•	Create a string variable, for example text = "Hello World".

•	Use len(text) to print its length.

•	Use type(text) to verify it is a string.

In [21]:
text = "Hello World"
print("Length : ", len(text), "and data type : ", type(text))

Length :  11 and data type :  <class 'str'>

String Indexing

•	With the string s = "Python", print each character. Then print just the first and last characters using negative indexing.

In [29]:
s = "Python"
for i in s :
  print(i)

print("First element : ", s[0])
print("Last element : ", s[-1])

P
y
t
h
o
n
First element :  P
Last element :  n

String Slicing

•	Let lang = "Programming".

•	Print the substring from index 0 to index 4.

•	Print the substring from index 3 to the end.

•	Print the substring that omits the first 2 and last 2 characters.

In [34]:
lang = "Programming"
print("substring from index 0 to index 4 is ", lang[0:5])
print("substring from index 3 to end is ", lang[3:])
print("substring that omits the first 2 and last 2 characters is ", lang[2:-2])

substring from index 0 to index 4 is  Progr
substring from index 3 to end is  gramming
substring that omits the first 2 and last 2 characters is  ogrammi

Exploring len() on Slices

•	Continue using lang = "Programming".

•	Slice lang to get "Program" and store it in a variable part1.

•	Print len(part1) and comment how it differs from len(lang).

In [37]:
lang = "Programming"
part1 = lang[:7]
print("Part1 : ", part1)
print("length of part1 : ",len(part1)) # it differs from the original string as part1 is sliced from the lang

Part1 :  Program
length of part1 :  7

String Methods – Case Conversion

•	Let phrase = "Hello, Python!".

•	Print phrase.upper() and phrase.lower().

•	Print the original phrase to show it remains unchanged (strings are immutable).

In [41]:
 phrase = "Hello, Python!"
 print("Upper case of phrase : ", phrase.upper())
 print("Lower case of phrase : ", phrase.lower())
 print("Orginal form : ", phrase)

Upper case of phrase :  HELLO, PYTHON!
Lower case of phrase :  hello, python!
Orginal form :  Hello, Python!

Combining Strings

•	Create two strings, str1 = "Data" and str2 = "Science".

•	Combine them into a single string with a space in between and print it.

•	Print the length of the combined string.

In [45]:
 str1 = "Data"
 str2 = "Science"
 combined_string = " ".join([str1,str2])
 print("Combined string : ", combined_string, " and length " , len(combined_string))

Combined string :  Data Science  and length  12

In-Place vs. Reassignment with String Methods

•	Let word = "example".

•	Call word.upper() but do not store it, then print word.

•	Now set word = word.upper(), then print word.

•	Comment on why the second print is different from the first.

In [53]:
word = "example"
word.upper
print("Word text :" , word)
set_word  = word.upper()
print("Stored upper world:", word.upper()) # The text will be printed in upper case because it is stored in set_word

Word text : example
Stored upper world: EXAMPLE

Arithmetic Operator Precedence

•	Define a = 5, b = 3, c = 2.

•	Print the result of the expression a + b * c.

•	Print the result of (a + b) * c.

•	In comments, explain how operator precedence affects the outcome.

In [56]:
a = 5
b = 3
c = 2
print("Result of the expression a + b * c :", a + b * c)
print("Result of (a + b) * c :", (a + b) * c) #Because of BODMAS rule both expression will give different answer

Result of the expression a + b * c : 11
Result of (a + b) * c : 16

String Index Out of Range

•	Let text = "Hello".

•	Attempt to access an index that doesn’t exist, like text[10].

•	Observe the error message (IndexError) and explain why it happens in comments.

In [57]:
text = "Hello"
print(text[10]) # string index is out range as there is only up to 4 index

IndexError: string index out of range

Equality vs. Identity Check (Conceptual Explanation)

•	Create two variables with the same string value, s1 = "test" and s2 = "test".

•	Use the == operator to compare them, then use the is operator.

•	Explain in comments what each comparison checks.

In [59]:
s1 = "test"
s2 = "test"
print(s1 == s2) #check the value
print(s1 is s2) # checks the memory location

True
True

Creating and Checking a Complex Number

•	Define z = 3 + 4j.

•	Print the real part (z.real) and the imaginary part (z.imag).

•	Confirm that its type is complex using type(z).

In [61]:
z = 3 + 4j
print("Real part :", z.real)
print("Imaginart part :", z.imag)
print("Type :", type(z))

Real part : 3.0
Imaginart part : 4.0
Type : <class 'complex'>

Comparisons with Floats

•	Let f1 = 0.1 + 0.2 and f2 = 0.3.

•	Print f1 == f2.

•	Print the actual values of f1 and f2 to explain any difference in the comparison outcome (floating-point precision).

In [64]:
f1 = 0.1 + 0.2
f2 = 0.3
print("f1==f2",f1==f2) #computer take floating point number in binary so f1 and f2 will not be slighlty equal
print("f1 :", f1)
print("f2 :", f2)

f1==f2 False
f1 : 0.30000000000000004
f2 : 0.3