Python Practice Questions (Basic Python)
1. Reverse a List:
Write a program to reverse a list without using the built-in reverse() or slicing ([::-1]).

In [18]:
lis = [1,2,3,4,5,6,7,8,9,10]
reverse_list = []
for i in range(len(lis)):
  reverse_list.append(lis[(len(lis)-1)-i])
print(f"Original list : {lis}")
print("Reversed list :",reverse_list)

Original list : [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Reversed list : [10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

2. Even Numbers from a List:

Given a list of integers, create a new list containing only even numbers using:

(a) A normal loop

(b) Using map() and lambda().

In [28]:
# For normal list containing only even numbers
even_list = []
for i in lis :
  if i % 2 == 0 :
    even_list.append(i)
print("Even list :",even_list)

Even list : [2, 4, 6, 8, 10]

In [31]:
# Using map() and lambda()
list_of_even = list(map(lambda x : x if x % 2 == 0 else None , lis)) # map applies lambda function to every element in the list and creates new one
filter_even = list(filter(None, list_of_even)) # filter() keeps the element that matched a condition
print(f"Even list using : {filter_even}")

Even list using : [2, 4, 6, 8, 10]

3. Find Squares of Numbers:
Given a list [1, 2, 3, 4, 5], create a list of squares using map() and lambda.

In [32]:
nums =  [1, 2, 3, 4, 5]
squared_list = list(map(lambda x : x**2, nums))
print(f"Squared list : {squared_list}")

Squared list : [1, 4, 9, 16, 25]

4. Sum of Even Numbers:

Write a program to find the sum of all even numbers in a list using reduce(). First find the list of even numbers and then find the sum of even numbers using reduce().

In [35]:
from functools import reduce
lis = [1,2,3,4,5,6,7,8,9,10]
even_list = list(filter(lambda x : x % 2 == 0, lis))
print("Even number list :",even_list)
sum_of_even_numbers = reduce(lambda x, y : x + y, even_list)
print("Sum of even numbers :",sum_of_even_numbers)

Even number list : [2, 4, 6, 8, 10]
Sum of even numbers : 30

5. Find Words Starting with a Letter:

Given a list of words, filter all words starting with the letter 'a' using filter and lambda.

In [36]:
words = ["apple", "banana", "cherry", "ant", "date", "elderberry"]
a_words = list(filter(lambda word : word.startswith('a'), words ))
print(f"words starting with the letter 'a' : {a_words}")

words starting with the letter 'a' : ['apple', 'ant']

6. Find the Maximum Number:

Find the maximum number in a list using reduce() (without using max() function).

In [37]:
lis = [1,2,3,4,5,6,7,8,9,10]
max_num = reduce(lambda x, y: x if x > y else y , lis )
print(f"Max number : {max_num}")

Max number : 10

7. Create a List of Cubes:

From 1 to 10, create a list of cubes (e.g., [1, 8, 27, ...]) using list comprehension.

In [39]:
cubes = [x**3 for x in range(1,11) ]
print(f"List of cubes : {cubes}")

List of cubes : [1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

8. Palindrome Check:

Write a function that takes a string and returns True if it is a palindrome, False otherwise.

In [45]:
user_input = input("Enter anything: ")
if (user_input == user_input[::-1]):
  print("It is palindrome")
else :
  print ("It is not a palindrome")

Enter anything: level
It is palindrome

9. Merge Two Lists into a Dictionary:

Convert them into a dictionary using zip() and dict comprehension.

In [46]:
list1 = ['a', 'b', 'c']
list2 = [ 1, 2, 3]
dictionary = dict(zip(list1, list2))
print("Dictionary :",dictionary)

Dictionary : {'a': 1, 'b': 2, 'c': 3}

10. Find the Second Largest Number:

Write a function to find the second largest number in a list.

In [51]:
lis = [1,33,4,66,555,66,77,234,89]
sorted_list = sorted(lis)
print(f"Second larget number : {sorted_list[-2]} ")

Second larget number : 234